@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.App {
  text-align: center;
  font-family: 'Ubuntu';
}

.App-Header {
  background-color: #FFFFFF;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  position: sticky;
  top: 0;
  z-index: 100;
}

.App-Button {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #04ADBF;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 40px;
  font-size: 0.70em;
  border: none;
}

.App-Button:hover {
  transition: all 0.3s;
  background-color: #D9043D;
}

.Main-Image {
  position: relative;
  color: white;
}

.Main-Text {
  position: absolute;
  top: 80%;
  left: 35%;
  transform: translate(-20%, -80%);
}

.Main-Text-Internal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Main-Text h1 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  text-shadow: 2px 2px 4px #000000;
}

.Main-Text h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  font-size: 1.4em;
  text-shadow: 2px 2px 4px #000000;
}

@media (max-width:768px) {
  .Main-Text {
    left:0;
    transform: translate(-0%, -70%);
  }

  .Main-Text h1 {
    font-size: 1.9em;
  }

  .Main-Text h4 {
    font-size: 1.2em;
  }
}

.Main-Button {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #04ADBF;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1em;
  border: none;
}

.Main-Button:hover {
  transition: all 0.3s;
  background-color: #D9043D;
}

.Main-Slider {
  width: 100%;
  filter: brightness(.4);
}

.Main-Slider-Internal {
  width: 100%;
}

.Main-Slider-Mobile {
  width: 100%;
  filter: brightness(.4);
}

.Mobile {
  display:none;
}

@media (max-width:768px) {
  .Desktop {
    display:none;
  }

  .Mobile {
    display:block;
  }
}

.Main-Guide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8em;
  margin-top: 2em;
}

.Main-Guide-Item {
  background-color: rgba(0, 0, 0, 0.85);
  color: #FFFFFF;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
}

.Main-Title h1 {
  font-family: 'Ubuntu';
  color: black;
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
}

.Main-Title h3 {
  color: black;
}

@media (max-width: 768px) {
  .Main-Title h1 {
    margin-top: 0.65em;
    font-size: 1.5em;
  }
  .Main-Title h3 {
    font-size: 1em;
  }
}

.Main-Line hr {
  height: 3px;
  background-image: linear-gradient(to right, #D9043D 50%, #04ADBF 50%);
  border: none;
  margin-top: 1em;
  margin-left: 5em;
  margin-right: 5em;
}

.Main-Products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 2em;
}

.Product {
  background-color: #FFF;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex: 1 0 20%;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgb(198, 198, 198);
}

.User-Data {
  display: flex;  
}

.User-Picture {
  flex-direction: column;
  width: 40%;
  border-radius: 100px;
}

.User-Name {
  flex-direction: column;
  font-weight: 600;
}

.User-Name p {
  margin: 0 !important;
}

.User-Name span {
  font-size: 0.7em;
  margin: 0;
  padding: 0;
}

.User-Items {
  display: flex;
  flex-direction: row;
}

.User-Products span {
  padding: 0.50em;
  background-color: #04ADBF;
  border-radius: 30px;
  color: #FFF;
  font-weight: bold;
  font-size: 0.8em;
  display: inline-block;
  margin-bottom: 0.4em;
}

.User-Desires span {
  padding: 0.50em;
  background-color: #D9043D;
  border-radius: 30px;
  color: #FFF;
  font-weight: bold;
  font-size: 0.8em;
  display: inline-block;
  margin-bottom: 0.4em;
}

@media (max-width: 768px) {
  .Main-Products {
    flex-direction: column;
    margin-top: 1.5em;
  }
  .Product {
    margin: 0.8em;
    padding: 0.8em;
    display: flex;
  }
  .User-Picture {
    width: 60%;
    border-radius: 100px;
  }
}

.Main-Explanation {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #F3EED9;
}

.Explanation-SubTitle h3 {
  font-weight: 400;
}

.Advantage {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  margin-left: 5em;
  margin-right: 5em;
}

.Advantage-Image {
  width: 20%;
}

.Advantages {
  padding: 3em;
}

.Advantages h3 {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .Advantage {
    flex-direction: column;
  }
}

.Action-Button {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #04ADBF;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 50px;
  font-size: 1.5em;
  border: none;
}

.Action-Button:hover {
  transition: all 0.3s;
  background-color: #D9043D;
}

.Main-Logo {
  justify-content: flex-start;
  align-content: flex-start;
  width: 50%;
  display: flex;
  margin-left: 5em;
}

.Main-Interact {
  justify-content: flex-end;
  align-content: flex-end;
  width: 50%;
  display: flex;
  margin-right: 5em;
}

.Main-Interact-Internal {
  justify-content: flex-end;
  align-content: flex-end;
  width: 50%;
  display: flex;
}

.App-Footer {
  display: flex;
  background-color:rgba(227, 255, 250, 0.45);
  margin-top: 1em;
  padding: 2em;
}

.Footer-Items {
  flex-direction: row;
  flex: 1;
  text-align: left;
}

.Footer-Items ul {
  list-style: none;
  float: left;
  text-align: left;
  margin: 0;
  padding: 0;
}

.Footer-Items h3 {
  margin: 0;
  padding: 0;
}

.Social-Icons {
  color: #04ADBF;
  font-size: 35px;
  padding-right: 0.37em;
}

@media (max-width: 768px) {
  .App-Footer {
    flex-direction: column;
  }
}

.Footer-Line hr {
  height: 3px;
  background-image: linear-gradient(to right, #D9043D 50%, #04ADBF 50%);
  border: none;
  margin-right: 2em;
}

@media (max-width: 768px) {
  .Footer-Line hr {
    margin-top: 2em; 
  }
}

.Final-Footer {
  background-color: #04ADBF;
  color: #FFF;
  padding-top: 0.45em;
  padding-bottom: 0.45em;
  margin-top: 1em;
  font-size: 0.8em;
}

.Final-Footer span {
  font-weight: bold;
}

.icon_footer {
  text-decoration: none;
  color: #000000;
}

.icon_footer:hover {
  color: #D9043D;
  transition: all 0.3s;
}

.Footer-Items li {
  padding-top: 0.45em;
  padding-bottom: 0.45em;
}

.Internal_Text {
  margin-left: 4em;
  margin-right: 4em;
  padding: 3em;
}

.Main-Interact li {
  display: inline;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.Main-Interact-Internal li {
  display: inline;
  margin-left: 0.6em;
  margin-right: 0.6em;
  color:rgba(0, 0, 0, 0.85) !important;
}

.Main-Interact-Internal svg {
  color: #04ADBF;;
}

.Main-Interact-Internal svg:hover {
  color: #D9043D;
  transition: all 0.3s;
}



.User-Picture-Top {
  width: 6%;
  border-radius: 100px;
}




.inputSearch {
  padding: 1em;
  border-radius: 50px;
  border-color: #04ADBF;
  width: 400px;
}



.formsHome {
  display: flex;
}